@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --VeryDarkBlue: hsl(234, 12%, 34%);
    --GrayishBlue: hsl(229, 6%, 66%);
    --LightGray: hsl(0, 0%, 98%);
}

body {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--LightGray);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-top: 6em;
}

h1 {
    color: var(--GrayishBlue);
    font-weight: 200;
 
}


h2 {
    color: var(--VeryDarkBlue);
    font-size: 2em;
}

p {
    color: var(--GrayishBlue);
    margin-top: 1em;
    font-weight: 400;
    letter-spacing: -1.3px;

}

section {
    margin-top: 5em;
}

.card {
    width: 23em;
    padding-left: 1.6em;
    background-color: white;
    margin-bottom: 1.7em;
    border-radius: .7em;
    padding-top: 1.9em;
    box-shadow: 0px 10px 12px 2px hsla(211, 70%, 82%, 0.301);
}

.title {
    font-weight: 600;
    font-size: 1.3em;
    color: var(--VeryDarkBlue);
}

.description {
    color: var(--GrayishBlue);
    margin-top: .7em;
    letter-spacing: 1px;
    font-size: 0.9em;
}

.cyan {
    border-top: 4px solid var(--Cyan);
}

.red {
    border-top: 4px solid var(--Red);
}

.orange {
    border-top: 4px solid var(--Orange);
}

.blue {
    border-top: 4px solid var(--Blue);
}

img {
    margin: 2em 15em 1.8em;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}



@media only screen and (min-width: 725px) {
    h1 {
        font-size: 28px;
    }

    section {
        display: flex;
        flex-direction: row;
        gap: 1.5em;
    }

    .card {
        place-self: center;

    }

    .center-container {
        display: flex;
        flex-direction: column;
    }

}